.venv/
dadosClimaticos.csv
final_training_data.csv
final_training_data_estadual.csv
dadosClimaticos.parquet
final_training_data.parquet
final_training_data_estadual.parquet
inference_data.parquet
inference_data.csv
.env.local
__pycache__