fastapi==0.115.12
uvicorn==0.34.0
python-multipart==0.0.20
pillow==11.1.0
opencv-python==4.11.0.86
numpy==2.1.1
ultralytics==8.3.105
matplotlib==3.10.1
pandas==2.2.3
scikit-learn
tensorflow
torch==2.6.0
lightning
pytorch-forecasting
joblib
httpx
aiofiles
epiweeks
